.footer-info {
  line-height: 1;
}

.footer-company {
  font-size: 14px;
  line-height: 1;
}

.footer-company-name {
  font-weight: 600;
}

.footer-nowrap {
  white-space: nowrap;
}

.footer-links {
  font-size: 12px;
}

.footer-logo {
  height: 25px;
  transition: transform 0.3s ease;
}

.footer-logo:hover {
  transform: scale(1.05);
  filter: brightness(1.1) drop-shadow(0 0 5px rgba(255,255,255,0.5));
}
